body {
  width: 99%;
  height: 90vh;
  /* background-color: rgb(102, 219, 255); */
  background-image: url("../images/delicious-messy-homemade-bacon-cheeseburger-600w-349203104.webp");
}

#top-bar {
  margin-top: 25px;
  background-color: black;
  width: 99%;
  padding: 2%;
  margin-bottom: 25px
}

.task {
  padding: 2%;
  background-color: rgb(255, 208, 0);
  border: solid;
  border-color: black;
}

#bname {
  padding-top: 10%;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.new_burger {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}

.entry {
  width: 350px;
  height: 35px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: auto;
  font-size: 24px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}

h1 {
  color: rgb(255, 208, 0);
}
